<!DOCTYPE html>
<html lang=”ko” xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>deletePage</title>
  <script th:src="@{/js/password.js}" defer></script>
  <link rel="stylesheet" th:href="@{/css/deletePage.css}">
</head>
<body>
<div th:replace="~{/fragments/common/header :: headerFragment}"></div>
<div class="deletePage">
  <div class="deletePage-con">
    <form th:action="@{/member/deletePageOk}" method="post">
      <ul>
   <li>
     <label for="id">id</label>
     <input type="text" id="id" name="id" th:value="${deleteId}">
   </li>
    <li>
      <label for="userPw">비밀번호</label>
      <input type="password" id="userPw" name="userPw" >
      <button type=button onclick="passwordCheckedFn(event)">비밀번호확인</button>
    </li>
        <li>
          <input type="hidden" id="pwChecked" value="false">
        </li>
        <li>
          <input type="button" class="li-last" onclick="deletePageOkFn(event)" value="회원삭제">
          <a th:href="@{/member/memberList}" class="li-last">회원목록</a>
        </li>
      </ul>
    </form>
  </div>
</div>
<div th:replace="~{/fragments/common/footer :: footerFragment}"></div>
</body>
</html>