<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="header" th:fragment="headerFragment">
  <div class="nav">
    <h1 class="logo">
      <a th:href="@{/index}">
        logo
      </a>
    </h1>
    <div class="gnb">
      <ul>
        <li><a th:href="@{/}">HOME</a></li>
        <li><a th:href="@{/member/memberList}">회원목록</a></li>
        <li><a th:href="@{/websocket}">websocket</a></li>
        <th:block sec:authorize="isAuthenticated()">
        <li><a th:href="@{/board/write}">게시판작성</a></li>
        </th:block>
        <li><a th:href="@{/board/boardList}">게시판목록</a></li>
        <li><a th:href="@{/shop}">쇼핑몰</a></li>
<!--        <th:block sec:authorize="hasRole('ADMIN')">-->
<!--          <li><a th:href="@{/admin}">관리자페이지</a></li>-->
<!--        </th:block>-->
          <li><a th:href="@{/admin}">관리자페이지</a></li>
        <th:block sec:authorize="isAnonymous()">
          <li><a th:href="@{/member/join}">회원가입</a></li>
          <li><a th:href="@{/member/login}">로그인</a></li>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
          <li>
            <a th:href="@{/member/detail/{id}(id=${#authentication.principal.memberEntity.id})}">
<!--            <span th:text="${#authentication.principal.memberEntity.userEmail}" style="color: #ff0000;"></span>-->
            <span th:text="${#authentication.principal.memberEntity.userName}" style="color: #ff0000;"></span>
          </a>
          </li>
          <li><a th:href="@{/member/logout}">로그아웃</a></li>
        </th:block>
      </ul>
    </div>
  </div>
</div>
</html>







