<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>cartList2</title>
    <style>
        th, td, table {
            border: 1px solid;
        }
    </style>
</head>
<body>
<h1>개인별 장바구니목록</h1>
<div class="cartList">
    <div class="cartList-con">
        <table>
            <thead>
            <tr>
                <td>상품리스트아이디</td>
                <td>상품갯수</td>
                <td>등록자</td>
                <td>상품아이디</td>
                <td>상품명</td>
                <td>상품내용</td>
                <td>상품작성자</td>
                <td>상품가격</td>
                <td>조회수</td>
                <td>이미지유무</td>
                <td>이미지</td>
                <td>생성시간</td>
                <td>수정시간</td>
                <td>금액</td>
                <td>선택</td>
            </tr>
            </thead>
            <tbody >
            <tr th:each="item : ${itemList}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.itemSize}"></td>
                <td th:text="${item.cartEntity.memberEntity.id}"></td>
                <td th:text="${item.itemEntity.id}"></td>
                <td th:text="${item.itemEntity.itemName}"></td>
                <td th:text="${item.itemEntity.itemDetail}"></td>
                <td th:text="${item.itemEntity.itemWriter}"></td>
                <td th:text="${item.itemEntity.itemPrice}"></td>
                <td th:text="${item.itemEntity.hit}"></td>
                <td th:text="${item.itemEntity.isImage}"></td>
                <td>
                    <th:block th:if="${item.itemEntity.isImage == 1}">
                        <img th:src="@{|/upload/${item.itemEntity.itemImgEntities[0].newImgName}|}" width="100" height="100" alt="Item Image">
                    </th:block>
                    <th:block th:unless="${item.itemEntity.isImage == 1}">
                        <img src="https://placehold.co/100x100?text=No+Image" alt="Default Image">
                    </th:block>
                </td>
                <td th:text="${item.createTime}"></td>
                <td th:text="${item.updateTime}"></td>
                <td th:text="${item.itemSize * item.itemEntity.itemPrice}"></td>
                <td>
                    <input type="checkbox" th:name="'selectedCartIds'" th:value="${item.id}">
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="13">총결제금액:</td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
</body>
</html>
